/* TABLA DE PRACTICANTES */

.tabla-contenedor {
    width: 100%;
    overflow-x: auto;
    margin-top: 20px;
}

.tabla-practicantes {
    width: 1100px;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    background-color: var(--negro-secundario);
    border: 1px solid var(--gris-borde);
    border-radius: 8px;
}

/* ENCABEZADOS */

.tabla-practicantes thead {
    background-color: var(--gris);
}

.tabla-practicantes th {
    color: var(--gris-texto);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-align: left;
    padding: 16px 20px;
    white-space: nowrap;
}

.tabla-practicantes th:nth-child(1),
.tabla-practicantes td:nth-child(1) {
    width: 110px;
}

.tabla-practicantes th:nth-child(2),
.tabla-practicantes td:nth-child(2) {
    width: 230px;
}

.tabla-practicantes th:nth-child(3),
.tabla-practicantes td:nth-child(3) {
    width: 230px;
}

.tabla-practicantes th:nth-child(4),
.tabla-practicantes td:nth-child(4) {
    width: 150px;
}

.tabla-practicantes th:nth-child(5),
.tabla-practicantes td:nth-child(5) {
    width: 160px;
}

.tabla-practicantes th:nth-child(6),
.tabla-practicantes td:nth-child(6) {
    width: 120px;
}

/* FILAS */

.tabla-practicantes td {
    color: var(--blanco);
    font-size: 13px;
    padding: 16px 20px;
    border-top: 1px solid var(--gris-borde);
    white-space: nowrap;
}

/* EFECTO AL PASAR EL MOUSE */

.tabla-practicantes tbody tr:hover {
    background-color: var(--gris);
}

/* ESTADO */

.estado {
    color: var(--amarillo);
    font-weight: 600;
    font-size: 12px;
}

/* BOTÓN VER */

.encabezado-tabla {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btn-agregar {
    background-color: var(--naranja);
    color: var(--blanco);
    padding: 11px 18px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.btn-agregar:hover {
    color: var(--blanco);
}